[aircraft_mapping]
# NO aircraft_name (see BepInEx Debug-UI) -> DCS-Telemetry-Name
#
# Available DCS target aircraft names:
#
# Modern Fighters:
#   F-16C_50          (F-16C Viper)
#   FA-18C_hornet     (F/A-18C Hornet)
#   F-15C             (F-15C Eagle)
#   F-14B             (F-14B Tomcat)
#   JF-17             (JF-17 Thunder)
#
# Attack / CAS:
#   A-10C_2           (A-10C II Warthog)
#   Su-25T            (Su-25T Frogfoot)
#   AV8BNA            (AV-8B Night Attack)
#
# Helicopters:
#   AH-64D_BLK_II    (AH-64D Apache)
#   Ka-50_3           (Ka-50 Black Shark 3)
#   Mi-24P            (Mi-24P Hind)
#   UH-1H             (UH-1H Huey)
#   SA342M            (SA342M Gazelle)
#
# Cold War / Reds:
#   MiG-21bis         (MiG-21bis)
#   Su-27             (Su-27 Flanker)
#   MiG-29S           (MiG-29S Fulcrum)
#   F-5E-3            (F-5E Tiger II)
#
# WWII:
#   SpitfireLFMkIX    (Spitfire LF Mk. IX)
#   P-51D             (P-51D Mustang)
#   Bf-109K-4         (Bf 109 K-4)
#

# Below are some hopefully sensible mappings.
# If you've a better idea, add your own mapping and then consider submitting a pull request.

## Fixed Wing
"CI-22 Cricket" = "P-51D"
"T/A-30 Compass" = "F-5E-3"
"A-19 Brawler" = "A-10C_2"
"FS-12 Revoker" = "F-16C_50"
"KR-67 Ifrit" = "FA-18C_hornet"

# "SFB-81 Darkreach" ? 

## "Alkyon AB-4" ?

## VTOL / STOVL
# "FS-20 Vortex" ?
# "EW-25 Medusa" ?

# Helicopters
"SAH-46 Chicane" = "AH-64D_BLK_II"
"UH-90 Ibis" = "UH-1H"

# Tilt Wing
## "VL-49 Tarantula" ?
